* {
  font-family: "Basic", sans-serif; 
  background:rgb(19,112,133);
  max-width: '100px';
  max-height: '100px';
  color: rgb(181,217,164);
}

/*
.App {
  text-align: center;
}
/*usar en logo*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
