h1{
    color: #95b6b2;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-weight: 400;
}
ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style:none ;
    font-weight: 400;
}
#item{
    padding: 5px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 400;
}
a:hover {
    text-decoration: none;
    color: rgb(221, 187, 255) !important;
}

a:active {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

